*{
    margin: 0px;
    padding: 0px ;
}

header{
    background-color: black;
    color: white;
    height: 225px;
    
}
header h1{
    padding-top: 50px;
    text-align: center;
}
header p{
    padding-bottom: 50px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
   
}
section#img01{
    background: url(imagens/background001.jpg);
    background-size: cover;
    
    
}
section#img02{
    background: url(imagens/background002.jpg);
    background-size: cover
    
    
}
